/* ~/.config/gtk-3.0/gtk.css */
/* NOTE: THIS NEEDS adw-gtk3 TO WORK! (https://github.com/lassekongo83/adw-gtk3) */

button.titlebutton {
  color: transparent;
  min-width: 10px;
  min-height: 10px;
}

button.titlebutton:backdrop {
  opacity: 0.5;
}

windowcontrols > button > image {
  padding: 0;
}

button.titlebutton {
  margin: 0 2px;
}

.titlebar .right {
  margin-right: 8px;
}

.titlebar .left {
  margin-left: 8px;
}

windowcontrols.end {
  margin-right: 8px;
}

windowcontrols.start {
  margin-left: 8px;
}

button.titlebutton.close:backdrop, 
button.titlebutton.maximize:backdrop, 
button.titlebutton.minimize:backdrop {
  background-image: none;
  background-color: #787878;
}

button.titlebutton.close {
  background-color: #fe6154;
  background-position: center;
  background-size: contain;
}

button.titlebutton.close:hover, 
button.titlebutton.close:hover:backdrop {
  background-color: shade(#ff0500,0.8);
  background-color: #c6464f;
  background-position: center;
  background-size: contain;
}

button.titlebutton.maximize {
  background-color: #59c837;
  background-position: center;
  background-size: contain;
}

button.titlebutton.maximize:hover, 
button.titlebutton.maximize:hover:backdrop {
  background-color: shade(#05f528,0.8);
  background-color: #4caa2f;
  background-position: center;
  background-size: contain;
}

.fullscreen button.titlebutton.maximize:hover, 
.maximized button.titlebutton.maximize:hover {
  background-position: center;
  background-size: contain;
}

button.titlebutton.minimize {
  background-color: #f1ae1a;
  background-position: center;
  background-size: contain;
}

button.titlebutton.minimize:hover,
button.titlebutton.minimize:hover:backdrop {
  background-color: shade(#ffa300, 0.8);
  background-color: #b58214;
  background-position: center;
  background-size: contain;
}

/* Transparent Sidebar */
window {
  background: alpha(@window_bg_color, 0.8);
}

.sidebar-pane,
.sidebar,
.navigation-sidebar {
  background: transparent;
}

.content-pane {
  background: @view_bg_color;
}

/* Lollypop */
window>deck>grid>headerbar.titlebar>widget>widget>box>image {
  margin-top: -1px;
}

window>deck>grid>headerbar.titlebar>box> :nth-child(1) {
  margin-right: -40px;
  opacity: 0;
}

window>deck>grid>headerbar.titlebar>box> :nth-child(2) {
  margin-right: 27px;
}

window>deck>grid>headerbar.titlebar>box>.close {
  margin-right: 0;
}

window>deck>grid>headerbar.titlebar {
  background: linear-gradient(90deg,
      transparent 0%,
      transparent 197px,
      @headerbar_shade_color 198px,
      @headerbar_bg_color 198px,
      @headerbar_bg_color 100%);
  border-bottom: none;
}

/* Builder */
.org-gnome-Builder paneldockchild.center {
  background: @window_bg_color;
}

.org-gnome-Builder.workspace paneldockchild.start {
  background: transparent;
}

/* Speedtest (xyz.ketok.Speedtest) */
.horizontal>gauge.dl.horizontal>overlay>.background {
  background: transparent;
}

.horizontal>gauge.up.horizontal>overlay>.background {
  background: transparent;
}

/* Gnome Tweaks */
window>leaflet>box:last-child>scrolledwindow>viewport.frame {
  background: @window_bg_color;
}

.tweak-titlebar-left {
  background: alpha(@window_bg_color, 0.8);
}

/* Geary */
.geary-main-layout>leaflet>leaflet>box:first-child,
.geary-main-layout>leaflet>leaflet>box:first-child>headerbar {
  background: transparent;
}

/* Rhythmbox */
window box:nth-child(2) paned:nth-child(3) paned:nth-child(3) box:nth-child(2) {
  background: @window_bg_color;
}

window box:nth-child(2) paned:nth-child(3) box:first-child paned grid .sidebar-toolbar,
window box:nth-child(2) paned:nth-child(3) box:first-child paned grid .sidebar-toolbar button {
  background: transparent;
}

window box toolbar {
  background: transparent;
  /* Comment this if you don't want transparency on rhythmbox topbar */
}

/* Disks */
window>deck>box>leaflet>box:nth-child(3)>stack>statuspage>scrolledwindow>viewport.frame,
window>deck>box>leaflet>box:nth-child(3)>stack>scrolledwindow>viewport.frame {
  background: @window_bg_color;
}

window>deck>box>leaflet>box:nth-child(1)>scrolledwindow treeview.view {
  background: transparent;
}

window>deck>box>leaflet>box:nth-child(1)>headerbar.titlebar.windowhandle {
  background: transparent;
  border-bottom: none;
}
